.general_header {
  display: flex;
  justify-content: space-between;
  padding: 30px 5%;
}

.user_name {
  font-size: 1.2rem;
}

.logout_btn {
  width: 150px;
  height: 2rem;
  border-radius: 10px;
  background-color: #3e8ed0;
  color: white;
  font-size: 1.2rem;
  border: 1px solid ;
  cursor: pointer;
  transition: all .3s ease;
}

.logout_btn:hover {
  opacity: 0.8;
  transition: all .3s ease;
}

.study_guidance {
  text-align: start;
}

.study {
  padding: 0 5%;
}

.study h1 {
  font-size: 2rem;
}

#study_course {
  font-size: 1.2rem;
  width: 30%;
  margin: 30px 0;
}

.study_btn .study_start{
  width: 100%;
  height: 3rem;
  margin-bottom: 30px;
  border-radius: 10px;
  background-color: #3e8ed0;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  transition:all .3s ease;
}

.study_start:hover {
  opacity: 0.8;
  transition:all .3s ease;
}

.create_btn  {
  padding: 0 5%;
  display: flex;
  justify-content: flex-end;
}

.create_btn .admin_create {
  width: 150px;
  height: 2rem;
  border-radius: 10px;
  background-color: #3e8ed0;
  color: white;
  font-size: 1.2rem;
  border: 1px solid ;
  cursor: pointer;
  transition: all .3s ease;
}

.create_btn .admin_create:hover {
  opacity: 0.8;
  transition: all .3s ease;
}